#navbar
	#where2go.col-md-6
		h4 想去哪兒呢?
		.row
			.hot-places.col-md-3
				.tokyo.goto
					a( 
						href='#'
						onclick="back()"
					) 東京
				.osaka.goto
					a(
						href='#'
						onclick="back()"
					) 大阪
				.hokkaido.goto
					a(
						href='#'
						onclick="back()"
					) 北海道
				.nagoya.goto
					a(
						href='#'
						onclick="back()"
					) 名古屋
				.kyoto.goto
					a(
						href='#'
						onclick="back()"
					) 香港
			.hot-places.col-md-3
				.Seoul.goto
					a(
						href='#'
						onclick="back()"
					) 首爾
				.busan.goto
					a(
						href='#'
						onclick="back()"
					) 釜山
				.bangkok.goto
					a(
						href='#'
						onclick="back()"
					) 曼谷
				.cebu.goto
					a(
						href='#'
						onclick="back()"
					) 宿霧
				.sabah.goto
					a(
						href='#'
						onclick="back()"
					) 沙巴-亞庇
			.hot-places.col-md-3
				.hochiminh.goto
					a(
						href='#'
						onclick="back()"
					) 胡志明
				.melbourne.goto
					a(
						href='#'
						onclick="back()"
					) 墨爾本
				.sydney.goto
					a(
						href='#'
						onclick="back()"
					) 雪梨
				.newyork.goto
					a(
						href='#'
						onclick="back()"
					) 紐約
				.paris.goto
					a(
						href='#'
						onclick="back()"
					) 巴黎
	#what2go.col-md-6
		h4 想去哪兒呢?
		.row
			.like-places.col-md-3
				.sakula.goto
					a( 
						href='#'
						onclick="back1()"
					) 春櫻
				.ocean.goto
					a(
						href='#'
						onclick="back1()"
					) 夏浪
				.mountain.goto
					a(
						href='#'
						onclick="back1()"
					) 秋山
				.snow.goto
					a(
						href='#'
						onclick="back1()"
					) 冬雪
				.family.goto
					a(
						href='#'
						onclick="back1()"
					) 親子
			.like-places.col-md-3
				.bike.goto
					a(
						href='#'
						onclick="back1()"
					) 單車
				.camping.goto
					a(
						href='#'
						onclick="back1()"
					) 露營
				.surfing.goto
					a(
						href='#'
						onclick="back1()"
					) 沖浪
				.jogging.goto
					a(
						href='#'
						onclick="back1()"
					) 慢跑
				.diving.goto
					a(
						href='#'
						onclick="back1()"
					) 潛水
			.like-places.col-md-3
				.photograph.goto
					a(
						href='#'
						onclick="back1()"
					) 攝影
				.shopping.goto
					a(
						href='#'
						onclick="back1()"
					) 逛街
				.show.goto
					a(
						href='#'
						onclick="back1()"
					) 表演
				.art.goto
					a(
						href='#'
						onclick="back1()"
					) 藝術
				.pet.goto
					a(
						href='#'
						onclick="back1()"
					) 寵物
	#when2go.col-md-6
		h4 何時出發?
		.row
			.what-time.col-md-3
				.jan.goto
					a( 
						href='#'
						onclick="back2()"
					) 一月
				.feb.goto
					a(
						href='#'
						onclick="back2()"
					) 二月
				.mar.goto
					a(
						href='#'
						onclick="back2()"
					) 三月
				.april.goto
					a(
						href='#'
						onclick="back2()"
					) 四月
				.may.goto
					a(
						href='#'
						onclick="back2()"
					) 五月
			.what-time.col-md-3
				.june.goto
					a(
						href='#'
						onclick="back2()"
					) 六月
				.july.goto
					a(
						href='#'
						onclick="back2()"
					) 七月
				.aug.goto
					a(
						href='#'
						onclick="back2()"
					) 八月
				.sep.goto
					a(
						href='#'
						onclick="back2()"
					) 九月
				.oct.goto
					a(
						href='#'
						onclick="back1()"
					) 十月
			.what-time.col-md-3
				.nov.goto
					a(
						href='#'
						onclick="back2()"
					) 十一月
				.dec.goto
					a(
						href='#'
						onclick="back2()"
					) 十二月
				.this-month.goto
					a(
						href='#'
						onclick="back2()"
					) 本月
				.next-month.goto
					a(
						href='#'
						onclick="back2()"
					) 下個月
				.next-year.goto
					a(
						href='#'
						onclick="back2()"
					) 明年
	#grooup2go.col-md-6
		h4 團體'小團或個人?
		.row
			.along-grouup.col-md-3
				.jan.goto
					a( 
						href='#'
						onclick="back2()"
					) 一月
				.feb.goto
					a(
						href='#'
						onclick="back2()"
					) 二月
				.mar.goto
					a(
						href='#'
						onclick="back2()"
					) 三月
				.april.goto
					a(
						href='#'
						onclick="back2()"
					) 四月
				.may.goto
					a(
						href='#'
						onclick="back2()"
					) 五月
			.along-grouup.col-md-3
				.june.goto
					a(
						href='#'
						onclick="back2()"
					) 六月
				.july.goto
					a(
						href='#'
						onclick="back2()"
					) 七月
				.aug.goto
					a(
						href='#'
						onclick="back2()"
					) 八月
				.sep.goto
					a(
						href='#'
						onclick="back2()"
					) 九月
				.oct.goto
					a(
						href='#'
						onclick="back1()"
					) 十月
			.along-grouup.col-md-3
				.nov.goto
					a(
						href='#'
						onclick="back2()"
					) 十一月
				.dec.goto
					a(
						href='#'
						onclick="back2()"
					) 十二月
				.this-month.goto
					a(
						href='#'
						onclick="back2()"
					) 本月
				.next-month.goto
					a(
						href='#'
						onclick="back2()"
					) 下個月
				.next-year.goto
					a(
						href='#'
						onclick="back2()"
					) 明年
	#how-many2go.col-md-6
		h4 多少人?
		.row
			.how-many.col-md-3
				.jan.goto
					a( 
						href='#'
						onclick="back2()"
					) 一月
				.feb.goto
					a(
						href='#'
						onclick="back2()"
					) 二月
				.mar.goto
					a(
						href='#'
						onclick="back2()"
					) 三月
				.april.goto
					a(
						href='#'
						onclick="back2()"
					) 四月
				.may.goto
					a(
						href='#'
						onclick="back2()"
					) 五月
			.how-many.col-md-3
				.june.goto
					a(
						href='#'
						onclick="back2()"
					) 六月
				.july.goto
					a(
						href='#'
						onclick="back2()"
					) 七月
				.aug.goto
					a(
						href='#'
						onclick="back2()"
					) 八月
				.sep.goto
					a(
						href='#'
						onclick="back2()"
					) 九月
				.oct.goto
					a(
						href='#'
						onclick="back1()"
					) 十月
			.how-many.col-md-3
				.nov.goto
					a(
						href='#'
						onclick="back2()"
					) 十一月
				.dec.goto
					a(
						href='#'
						onclick="back2()"
					) 十二月
				.this-month.goto
					a(
						href='#'
						onclick="back2()"
					) 本月
				.next-month.goto
					a(
						href='#'
						onclick="back2()"
					) 下個月
				.next-year.goto
					a(
						href='#'
						onclick="back2()"
					) 明年
	#flight2go.col-md-6
		h4 航班?
		.row
			.which-flight.col-md-3
				.jan.goto
					a( 
						href='#'
						onclick="back2()"
					) 一月
				.feb.goto
					a(
						href='#'
						onclick="back2()"
					) 二月
				.mar.goto
					a(
						href='#'
						onclick="back2()"
					) 三月
				.april.goto
					a(
						href='#'
						onclick="back2()"
					) 四月
				.may.goto
					a(
						href='#'
						onclick="back2()"
					) 五月
			.which-flight.col-md-3
				.june.goto
					a(
						href='#'
						onclick="back2()"
					) 六月
				.july.goto
					a(
						href='#'
						onclick="back2()"
					) 七月
				.aug.goto
					a(
						href='#'
						onclick="back2()"
					) 八月
				.sep.goto
					a(
						href='#'
						onclick="back2()"
					) 九月
				.oct.goto
					a(
						href='#'
						onclick="back1()"
					) 十月
			.which-flight.col-md-3
				.nov.goto
					a(
						href='#'
						onclick="back2()"
					) 十一月
				.dec.goto
					a(
						href='#'
						onclick="back2()"
					) 十二月
				.this-month.goto
					a(
						href='#'
						onclick="back2()"
					) 本月
				.next-month.goto
					a(
						href='#'
						onclick="back2()"
					) 下個月
				.next-year.goto
					a(
						href='#'
						onclick="back2()"
					) 明年
	#agent2go.col-md-6
		h4 航班?
		.row
			.which-agent.col-md-3
				.jan.goto
					a( 
						href='#'
						onclick="back2()"
					) 一月
				.feb.goto
					a(
						href='#'
						onclick="back2()"
					) 二月
				.mar.goto
					a(
						href='#'
						onclick="back2()"
					) 三月
				.april.goto
					a(
						href='#'
						onclick="back2()"
					) 四月
				.may.goto
					a(
						href='#'
						onclick="back2()"
					) 五月
			.which-agent.col-md-3
				.june.goto
					a(
						href='#'
						onclick="back2()"
					) 六月
				.july.goto
					a(
						href='#'
						onclick="back2()"
					) 七月
				.aug.goto
					a(
						href='#'
						onclick="back2()"
					) 八月
				.sep.goto
					a(
						href='#'
						onclick="back2()"
					) 九月
				.oct.goto
					a(
						href='#'
						onclick="back1()"
					) 十月
			.which-agent.col-md-3
				.nov.goto
					a(
						href='#'
						onclick="back2()"
					) 十一月
				.dec.goto
					a(
						href='#'
						onclick="back2()"
					) 十二月
				.this-month.goto
					a(
						href='#'
						onclick="back2()"
					) 本月
				.next-month.goto
					a(
						href='#'
						onclick="back2()"
					) 下個月
				.next-year.goto
					a(
						href='#'
						onclick="back2()"
					) 明年
	#hotel2go.col-md-6
		h4 航班?
		.row
			.which-hotel.col-md-3
				.jan.goto
					a( 
						href='#'
						onclick="back2()"
					) 一月
				.feb.goto
					a(
						href='#'
						onclick="back2()"
					) 二月
				.mar.goto
					a(
						href='#'
						onclick="back2()"
					) 三月
				.april.goto
					a(
						href='#'
						onclick="back2()"
					) 四月
				.may.goto
					a(
						href='#'
						onclick="back2()"
					) 五月
			.which-hotel.col-md-3
				.june.goto
					a(
						href='#'
						onclick="back2()"
					) 六月
				.july.goto
					a(
						href='#'
						onclick="back2()"
					) 七月
				.aug.goto
					a(
						href='#'
						onclick="back2()"
					) 八月
				.sep.goto
					a(
						href='#'
						onclick="back2()"
					) 九月
				.oct.goto
					a(
						href='#'
						onclick="back1()"
					) 十月
			.which-hotel.col-md-3
				.nov.goto
					a(
						href='#'
						onclick="back2()"
					) 十一月
				.dec.goto
					a(
						href='#'
						onclick="back2()"
					) 十二月
				.this-month.goto
					a(
						href='#'
						onclick="back2()"
					) 本月
				.next-month.goto
					a(
						href='#'
						onclick="back2()"
					) 下個月
				.next-year.goto
					a(
						href='#'
						onclick="back2()"
					) 明年
	.row.no-gutters
		.col-md-3
			.myphoto AAA
		.col-md-2
			#header1.header BBB111
		.col-md-2#header2.header.container-fluid
			.fadeSlider
				.img
				.img
				.img
		.col-md-2#header3.header.container-fluid
			.slick
				.img1
				.img1
				.img1
				.img1
				.img1
		.col-md-3
			.menu
				.row.no-gutters
					.col-sm-auto.where
						input(
							type='text'
							name='go-where'
							placeholder='想去哪?'
							onclick="show()"
						)
					.col-sm-auto.what
						input(
							type='text'
							name='for-what'
							placeholder='玩什麼?'
							onclick="show1()"
							)
			.menu
				.row.no-gutters
					.col-sm-auto.when
						input(
							type='text'
							name='when'
							placeholder='何時出發?'
							onclick="show2()"
							)
					.col-sm-auto.group 
						input(
							type='text'
							name='group'
							placeholder='團體或自由行?'
							onclick="show3()"
							)
			.menu
				.row.no-gutters
					.col-sm-auto.people
						input(
							type='text'
							name='how-many'
							placeholder='多少人?'
							onclick="show4()"
							)
					.col-sm-auto.flight
						input(
							type='text'
							name='flight'
							placeholder='航班?'
							onclick="show5()"
							)
			.menu
				.row.no-gutters
					.col-sm-auto.agent 
						input(
							type='text'
							name='agent'
							placeholder='旅行社?'
							onclick="show6()"
							)
					.col-sm-auto.hotel 
						input(
							type='text'
							name='hotel'
							placeholder='飯店要求?'
							onclick="show7()"
							)